
.whites-paneli {
background: white;
box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
padding: 10px;
}
.whites-paneli h1 {
font-size: 1em;
}
.whites-paneli h1 a {
color: #A92733;
}
.whites-paneli:hover {
box-shadow: 1px 1px 50px rgba(0,0,0,0.5);
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.1s ease-in-out;
}
