.aprobado{

background-color: #E9FCFA;
border: 1px dashed #006600;
padding: 8px;
margin-bottom: 10px;
}

.rechazado{

background-color: #FFEDED;
border: 1px dashed #FA206A;
padding: 8px;
margin-bottom: 10px;
}

/* leccion 7*/

.div_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4fc3f7;
  opacity: .80;
  -webkit-opacity: .8;
  -moz-opacity: .8;
  filter: alpha(opacity=80);
  z-index: 820;
}


.div_contenido {
  background-color: #f5f5f5;
  box-shadow: 0 0 20px 0 #222;
  -webkit-box-shadow: 0 0 20px 0 #222;
  -moz-box-shadow: 0 0 20px 0 #222;
  display: none;
  height: auto;
  margin-left: 2%;
  margin-right: 2%;
  left: 0;
  right: 0;
  padding: 10px;
  position: absolute;
  top: 10%;
  width: auto;
  min-height: 90%;
  z-index: 830;
}


.errores{

  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0,3) ;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0,3) ;
-o-box-shadow: 0 0 10px rgba(0,0,0,0,3) ;
background: red ;
box-shadow: 0 0 10px rgba(0,0,0,0,3) ;
color: #fff ;
display: none;
font-size: 14px;
margin-top: -80px
margin-left: 340px ;
padding: 10px;
position: absolute;

}

span{
color: #000000;

}
i{
color: teal;

}
a{
  color: maroon;
  font-weight: bold;
}
#center{
    right: -50px;
    padding: 0px;
}